<div class="fixed-sidebar">
  <div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="sidebar-stats">600+<br>websites</div>
  <div class="sidebar-buy">
    <i class="fas fa-shopping-bag"></i>
    Buy now
  </div>
</div>

